.hero-gradient {
    position: relative;
    overflow: hidden;
}

.animate-float-subtle {
    animation: float-subtle 8s ease-in-out infinite;
}

@keyframes float-subtle {

    0%,
    100% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-8px);
    }
}


@keyframes float-around {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }
    25% {
        transform: translate(5px, -8px) rotate(1deg);
    }
    50% {
        transform: translate(-4px, -12px) rotate(-0.5deg);
    }
    75% {
        transform: translate(-6px, -8px) rotate(0.5deg);
    }
    100% {
        transform: translate(0, 0) rotate(0deg);
    }
}

.animate-float-around {
    animation: float-around 6s ease-in-out infinite;
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0) rotate(0deg);
    }
    25% {
        transform: translateX(-3px) rotate(-2deg);
    }
    75% {
        transform: translateX(3px) rotate(2deg);
    }
}

.animate-shake {
    animation: shake 0.3s ease-in-out;
}

.snowman-container {
    animation: float-around 6s ease-in-out infinite;
}

.snowman-container:hover {
    animation: shake 0.3s ease-in-out;
}

@keyframes slide-up {
    from {
        translate: 0 100%;
        opacity: 0;
    }
    to {
        translate: 0 0;
        opacity: 1;
    }
}

@keyframes wash-mah-belly {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes rustle {
    0% {
        opacity: 0;
        transform: translateX(-100%) rotate(-12deg);
    }
    1% {
        opacity: 1;
        transform: translateX(-100%) rotate(-12deg);
    }
    40% {
        opacity: 0;
        transform: translateX(-100%) rotate(-12deg);
    }
    50% {
        opacity: 0;
        transform: translateX(0) rotate(12deg);
    }
    51% {
        opacity: 1;
        transform: translateX(0) rotate(12deg);
    }
    90% {
        opacity: 0;
        transform: translateX(0) rotate(12deg);
    }
    100% {
        opacity: 0;
        transform: translateX(0) rotate(12deg);
    }
}


.slide-up-0 {
    animation: slide-up 2s ease 0.3s both;
}

.slide-up-1 {
    animation: slide-up 2s ease 0.9s both;
}

.slide-up-2 {
    animation: slide-up 2s ease 1.5s both;
}

.animate-rustle {
    animation: rustle 0.8s linear 3s both;
}

.slide-up-3 {
    animation: wash-mah-belly 1s ease 4s both;
}
