.what-we-do-wave {
    position: relative;
    background-image: url("/waves/v2-base-wave-180.svg");
    background-repeat: repeat-x;
    background-position: right top;
    margin-top: -4px;
}

.what-we-do-wave .gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 230px;
    background: linear-gradient(
        to right,
        rgba(51, 102, 153, 0.2) 0%,
        rgba(112, 105, 147, 0.2) 100%
    );
    -webkit-mask: url("/waves/v2-base-wave-180.svg") repeat-x;
    mask: url("/waves/v2-base-wave-180.svg") repeat-x;
    -webkit-mask-position: right top;
    mask-position: right top;
    -webkit-mask-size: auto 230px;
    mask-size: auto 230px;
    pointer-events: none;
    z-index: 3;
}
